<clickhouse>
    <logger>
        <level>debug</level>
        <log>/var/log/clickhouse-server/clickhouse-server.log</log>
        <errorlog>/var/log/clickhouse-server/clickhouse-server.err.log</errorlog>
        <size>1000M</size>
        <count>3</count>
    </logger>
    <display_name>cluster_1S_2R node {{node_num}}</display_name>
    <listen_host>0.0.0.0</listen_host>
    <http_port>8123</http_port>
    <tcp_port>9000</tcp_port>

    <!-- https://clickhouse.com/docs/en/operations/tips#using-less-than-16gb-of-ram -->
    <mark_cache_size>536870912</mark_cache_size> <!-- 512MB -->
    <concurrent_threads_soft_limit_num>2</concurrent_threads_soft_limit_num>

    <!-- Maximum connections and settings -->
    <max_connections>4096</max_connections>
    <keep_alive_timeout>3</keep_alive_timeout>
    <max_concurrent_queries>100</max_concurrent_queries>


    <!-- Additional configuration files can be included -->
    <include_from>/etc/clickhouse-server/config.d/macros.xml</include_from>
    <include_from>/etc/clickhouse-server/config.d/remote-servers.xml</include_from>
    <include_from>/etc/clickhouse-server/config.d/use-keeper.xml</include_from>
    <include_from>/etc/clickhouse-server/config.d/storage-policy.xml</include_from>
    <!-- <include_from>/etc/clickhouse-server/config.d/keeper-config.xml</include_from> -->
</clickhouse>