clickhouse-server{{server_num}}:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse-server{{server_num}}
    volumes:
      - ../clickhouse/node{{server_num}}-config/:/etc/clickhouse-server/config.d/
      - ../clickhouse/node-entrypoints/common:/docker-entrypoint-initdb.d
      - clickhouse_server{{server_num}}_data:/var/lib/clickhouse
      - clickhouse_server{{server_num}}_TTL:/clickhouse_data/server{{server_num}}
    networks:
      clickhouse-server-network:
        aliases:
          - clickhouse-server{{server_num}}
      clickhouse-keeper-network:
        aliases:
          - clickhouse-server{{server_num}}
    deploy:
      replicas: 1
      # placement:
      #   constraints: [node.labels.role == server]
      restart_policy:
          condition: on-failure
      update_config:
        delay: 10s
      resources:
        limits:
          cpus: "0.50"
          memory: 1200M
    depends_on:
      - clickhouse-keeper1
      - clickhouse-keeper2
      - clickhouse-keeper3
    ports:
      - "{{9000+server_num}}:9000"  # Native client port
      - "{{8123+server_num}}:8123"  # HTTP interface
